* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cormorant, serif;
}
.links,
h1,
.links li {
    display: inline-block;
}

h1 {
    font-weight: 300;
    margin-right: 32px;
}

.links a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    margin: 0 8px;
}

a.active {
    border-bottom: 1px solid #000;
}

.navbar {
    margin: 40px;
}
